---
layout: archive
title: "Publications"
permalink: /publications/
author_profile: true
---

{% if site.author.googlescholar %}
  <div class="wordwrap">You can also find my articles on <a href="{{site.author.googlescholar}}">my Google Scholar profile</a>.</div>
{% endif %}

{% include base_path %}
<ol>
  <li>
    Z. Dong, J. Gao, and H. Liu,
    <a href="https://arxiv.org/pdf/2501.12953">Bipartite Turán problem on graph gluing</a>,
    arXiv:2501.12953v1,
    submitted.
  </li>
  <li>
    J. Ai, J. Gao, Z. Xu, and X. Yan,
    <a href="https://arxiv.org/pdf/2501.06830">Strong Ramsey game on two boards</a>,
    arXiv:2501.06830v2,
    submitted.
  </li>
  <li>
    J. Gao, X. Liu, J. Ma, and O. Pikhurko,
    <a href="https://arxiv.org/pdf/2411.15579">Phase transition of degenerate Turán problems in p-norms</a>,
    arXiv:2411.15579v3,
    submitted.
  </li>
  <li>
    L. Ding, J. Gao, H. Liu, B. Luan, and S. Sun,
    <a href="https://arxiv.org/pdf/2411.12659">Induced even cycles in locally sparse graphs</a>,
    arXiv:2411.12659v1,
    submitted.
  </li>
  <li>
    J. Gao, Y. Xue and Z. Wu,
    <a href="https://arxiv.org/pdf/2311.15289.pdf">Counting cliques without generalized theta graphs</a>,
    arXiv:2311.15289v1,
    submitted.
  </li>
  <li>
    J. Gao, S. Jiang, H. Liu, M. Sankar,
    <a href="https://arxiv.org/pdf/2403.12919">Generalized Ramsey–Turán density for cliques</a>,
    <em>Forum of Mathematics Sigma</em>, to appear.
  </li>
  <li>
    S. Cambie, J. Gao, Y. Kim and H. Liu,
    <a href="https://arxiv.org/pdf/2308.03748v1.pdf">The Erdős distinct subset sums problem in a modular setting</a>,
    <em>Acta Arithmetica</em>, to appear.
  </li>
  <li>
    J. Gao, O. Janzer, H. Liu and Z. Xu,
    <a href="https://arxiv.org/pdf/2303.13380.pdf">Extremal number of graphs from geometric shapes</a>,
    <em>Israel Journal of Mathematics</em>, to appear.
  </li>
  <li>
    S. Cambie, J. Gao, and H. Liu,
    <a href="https://arxiv.org/pdf/2301.07467.pdf">Many Hamiltonian subsets in large graphs with given density</a>,
    <em>Combinatorics, Probability and Computing</em>, <strong>33</strong> (2024), 110–120.
  </li>
  <li>
    J. Gao, B. Li, J. Ma and T. Xie,
    <a href="https://arxiv.org/pdf/2210.03959.pdf">On two cycles of consecutive even lengths</a>,
    <em>Journal of Graph Theory</em>, <strong>106</strong> (2024), 225–238.
  </li>
  <li>
    J. Gao, H. Liu and Z. Xu,
    <a href="https://arxiv.org/pdf/2212.07821.pdf">Stability through non-shadows</a>,
    <em>Combinatorica</em>, <strong>43</strong> (2023), 1125–1137.
  </li>
  <li>
    J. Gao and J. Ma,
    <a href="http://staff.ustc.edu.cn/~jiema/cliq-critical-graph-arXiv-2.pdf">Tight bounds towards a conjecture of Gallai</a>,
    <em>Combinatorica</em>, <strong>43</strong> (2023), 447–453.
  </li>
  <li>
    J. Gao, H. Lu, J. Ma and X. Yu,
    <a href="https://link.springer.com/article/10.1007/s11425-020-1890-4">On the rainbow matching conjecture for 3-uniform hypergraphs</a>,
    <em>Science China Mathematics</em>, <strong>65</strong> (2022), 2423–2440.
  </li>
  <li>
    J. Gao, Q. Huo, C. Liu and J. Ma,
    <a href="https://academic.oup.com/imrn/article-abstract/2022/10/7615/6063791?redirectedFrom=fulltext">A unified proof of conjectures on cycle lengths in graphs</a>,
    <em>Int. Math. Res. Not.</em>, <strong>2022(10)</strong>, 7615–7653.
  </li>
  <li>
    J. Gao, Q. Huo and J. Ma,
    <a href="https://epubs.siam.org/doi/10.1137/20M1387882">A strengthening on odd cycles in graphs of given chromatic number</a>,
    <em>SIAM J. Discrete Math</em>, <strong>35(4)</strong> (2021), 2317–2327.
  </li>
  <li>
    J. Gao and J. Ma,
    <a href="https://epubs.siam.org/doi/abs/10.1137/19M1267738">A conjecture of Verstraëte on vertex-disjoint cycles</a>,
    <em>SIAM J. Discrete Math</em>, <strong>34(2)</strong> (2020), 1290–1301.
  </li>
  <li>
    J. Gao and J. Ma,
    <a href="https://arxiv.org/pdf/1902.05701.pdf">On a conjecture of Bondy and Vince</a>,
    <em>J. Combin. Theory, Ser. B</em>, <strong>144</strong> (2020), 136–142.
  </li>
</ol>
<!-- New style rendering if publication categories are defined -->
{% if site.publication_category %}
  {% for category in site.publication_category  %}
    {% assign title_shown = false %}
    {% for post in site.publications reversed %}
      {% if post.category != category[0] %}
        {% continue %}
      {% endif %}
      {% unless title_shown %}
        <h2>{{ category[1].title }}</h2><hr />
        {% assign title_shown = true %}
      {% endunless %}
      {% include archive-single.html %}
    {% endfor %}
  {% endfor %}
{% else %}
  {% for post in site.publications reversed %}
    {% include archive-single.html %}
  {% endfor %}
{% endif %}



